@use '../../global-styles/' as gs;

.info {
    position: absolute;
    top: 0;
    width: 100%;
    @include gs.flex(none, space-between, none);
    padding: 1rem;

    @include gs.display(mobile) {
        padding: 0.5rem;
    }

    &__icons {
        @include gs.flex(column, none, none);
        gap: 1rem;
        font-size: 1.25rem;

        @include gs.display(mobile) {
            font-size: 1rem;
        }

        &__rules {
            &>svg:hover {
                color: greenyellow;
                cursor: pointer;
            }

            &:hover .text {
                display: block;
            }
        }

        &__hint {
            &>svg:hover {
                color: yellow;
                cursor: pointer;
            }

            &:hover .text {
                display: block;
            }
        }

        &__settings {
            font-size: 1.5rem;

            &>svg:hover {
                color: rgb(217, 0, 255);
                cursor: pointer;
            }

            &:hover .text {
                display: block;
            }
        }

        &__dark {
            color: lightblue;
        }
    }

    &__result {
        margin-right: 1rem;
        @include gs.flex(column, none, none);
        gap: 0.5rem;
        font-size: 1.25rem;

        @include gs.display(mobile) {
            margin-right: 0.5rem;
            gap: 1rem;
            font-size: unset;
            flex-direction: row;
        }

        &__dark {
            color: lightblue;
        }
    }
}

.text,
.click-icon {
    display: none;
    position: absolute;
    left: 2.25rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 35%;
    max-height: 70vh;
    overflow: scroll;
    padding: 1rem;
    box-shadow: 0 0 0.5rem white;
    backdrop-filter: blur(0.3rem);
    z-index: 9;
    animation: showText 0.8s forwards;

    @include gs.display(tablet) {
        width: 70%;
    }

    &__dark-blue {
        color: rgb(41, 41, 232);
    }
}

.rules {
    top: 0.5rem;
}

.hint {
    top: 3rem;
}

.settings {
    top: 7rem;
}

.click-icon {
    display: block;
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translate(110%);
        transition: 0.5s;
    }

    100% {
        opacity: 1;
        transform: translate(0);
        transition: 0.5s;
    }
}