@use '../../global-styles/' as gs;

.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
    gap: 0.5rem;

    @include gs.display(tablet) {
        grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    }

    &__btn {
        width: 100%;
        border: 3px solid black;
        background: none;
        aspect-ratio: 1 / 1;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        color: black;

        @include gs.display(tablet) {
            font-size: 1.25rem;
        }

        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            background-color: lightgreen;
        }

        &__active {
            background-color: rgb(123, 211, 123);
            color: white;
        }

        &__inactive {
            opacity: 0.3;
        }
    }

    &__btn-dark {
        border: 3px solid rgb(8, 2, 189);
        color: rgb(8, 2, 189);

        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            background-color: rgb(3, 90, 252);
        }

        &__active {
            background-color: rgb(3, 136, 252);
            color: white;
        }
    }

    &__refresh-btn {
        border: 3px solid black;
        background-color: lightgray;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        &:hover {
            background-color: white;
        }
    }
}