@use '../../global-styles/' as gs;

.header {
    padding: 1rem 3rem;
    @include gs.flex(none, space-between, center);
    background: rgb(148,187,223);
    background: linear-gradient(0deg, rgba(148,187,223,0.9766107126444328) 0%, rgba(120,160,220,1) 13%, rgba(94,135,218,0.9037815809917717) 33%); 
    border-bottom: 0.1875rem solid rgb(81, 0, 128);

    @include gs.display(mobile) {
        padding: 1rem;
    }

    &__title {
        margin: unset;
        background-image: linear-gradient(to top, #e20a0a, #ffe600e2);
        color: transparent;
        background-clip: text;

        &:hover {
            transform: scale(1.1);
            transition: 0.8s;
        }

        @include gs.display(mobile) {
            font-size: 1.75rem;
        }
    }

    &__theme-btn {
        width: 3rem;
        padding: 0.5rem;
        background-color: lightgray;
        border: 1px solid rgb(8, 108, 221);
        border-radius: 2rem;
        @include gs.flex(none, center, center);
        cursor: pointer;

        @include gs.display(mobile) {
            width: 2.5rem;
        }

        &>svg {
            font-size: 1.25rem;
            color: black;

            @include gs.display(mobile) {
                font-size: 1rem;
            }
        }

        &__moon:hover {
            color: yellow;
            transition: 0.5s;
        }

        &__sun:hover {
            color: orangered;
            transition: 0.5s;
        }
    }
}