@use '../../global-styles/' as gs;

.header {
    padding: 1rem 3rem;
    @include gs.flex(none, space-between, center);
    background: rgb(148,187,223);
    background: linear-gradient(0deg, rgba(148,187,223,0.9766107126444328) 0%, rgba(120,160,220,1) 13%, rgba(94,135,218,0.9037815809917717) 33%); 
    border-bottom: 0.1875rem solid rgb(81, 0, 128);
    box-shadow: 0 0 0.5rem white;

    @include gs.display(mobile) {
        padding: 1rem;
    }

    &__title {
        margin: unset;
        background-image: linear-gradient(to top, #e20a0a, #ffe600e2);
        color: transparent;
        background-clip: text;
        transition: all 1s ease;

        &:hover {
            transform: scale(1.1);
        }

        @include gs.display(mobile) {
            font-size: 1.75rem;
        }
    }

    &__theme-btn {
        width: 3rem;
        padding: 0.5rem;
        background-color: lightgray;
        border: 1px solid rgb(8, 108, 221);
        border-radius: 2rem;
        @include gs.flex(none, center, center);
        cursor: pointer;

        @include gs.display(mobile) {
            width: 2.5rem;
        }

        &>svg {
            font-size: 1.25rem;
            color: black;
            transition: all 1s ease;

            @include gs.display(mobile) {
                font-size: 1rem;
            }
        }
    }
}

.moon {
    color: yellow !important;
}

.sun {
    color: orangered !important;
}

.header-dark {
    background: rgb(107,138,166);
    background: linear-gradient(0deg, rgba(107,138,166,0.9766107126444328) 0%, rgba(37,64,105,1) 23%, rgba(1,2,4,0.9037815809917717) 56%); 
    box-shadow: 0 0 1rem white;
}