@use '../../global-styles/' as gs;

footer {
    width: 100%;
    @include gs.flex(none, center, none);
    
    @include gs.display(mobile) {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
    }

    &>.dark {
        color: white;
    }
}